.form {
  margin: auto;
  padding: 10px 30px;
  width: 500px;
}
.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.form input {
  width: 100%;
  background: transparent;
  border-radius: 7px;
  padding: 5px;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
